body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #333;
}


input[type='number'] {
  width: 60px;
  padding: 8px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#countdown {
  font-weight: bold;
  color: red;
  margin-bottom: 15px;
}
#result {
  margin-bottom: 20px;
  font-size: 16px;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
